@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Thin.woff2') format('woff2') url('/fonts/AlumniSans-Thin.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Thin.woff2') format('woff2') url('/fonts/AlumniSans-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-ThinItalic.woff2') format('woff2') url('/fonts/AlumniSans-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-ExtraLight.woff2') format('woff2') url('/fonts/AlumniSans-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-ExtraLightItalic.woff2') format('woff2') url('/fonts/AlumniSans-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Light.woff2') format('woff2') url('/fonts/AlumniSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-LightItalic.woff2') format('woff2') url('/fonts/AlumniSans-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Regular.woff2') format('woff2') url('/fonts/AlumniSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Italic.woff2') format('woff2') url('/fonts/AlumniSans-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Medium.woff2') format('woff2') url('/fonts/AlumniSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-MediumItalic.woff2') format('woff2') url('/fonts/AlumniSans-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-SemiBold.woff2') format('woff2') url('/fonts/AlumniSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-SemiBoldItalic.woff2') format('woff2') url('/fonts/AlumniSans-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Bold.woff2') format('woff2') url('/fonts/AlumniSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-BoldItalic.woff2') format('woff2') url('/fonts/AlumniSans-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-ExtraBold.woff2') format('woff2') url('/fonts/AlumniSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-ExtraBoldItalic.woff2') format('woff2') url('/fonts/AlumniSans-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-Black.woff2') format('woff2') url('/fonts/AlumniSans-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Alumni Sans';
	src: url('/fonts/AlumniSans-BlackItalic.woff2') format('woff2') url('/fonts/AlumniSans-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}
