.typography {
    color: var(--qwarz-main-secondary);
    font-size: var(--font-m);
}

.italic {
    font-style: italic;
}

.dark {
    color: var(--qwarz-main-secondary);
}

.light {
    color: var(--qwarz-main-primary);
}

.pale {
    color: var(--qwarz-main-tertiary);
}

.error-msg {
    color: var(--qwarz-content-secondary);
}

.uppercase {
    text-transform: uppercase;
}

.size-xs {
    font-size: var(--font-size-xs);
    line-height: var(--font-line-xs);
}

.size-s {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
}

.size-m {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
}

.size-l {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
}

.size-xl {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
}

.size-xxl {
    font-size: var(--font-size-xxl);
    line-height: var(--font-line-xxl);
}

.align-auto {
    text-align: auto;
}

.align-start {
    text-align: start;
}

.align-center {
    text-align: center;
}

.align-end {
    text-align: end;
}

.align-justify {
    text-align: justify;
}

.weight-100 {
    font-weight: 100;
}

.weight-300 {
    font-weight: 300;
}

.weight-500 {
    font-weight: 500;
}
